@font-face {
    font-family: Parastoo;
    src: url('../fonts/Parastoo.eot');
    src: url('../fonts/Parastoo.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Parastoo.woff') format('woff'),
         url('../fonts/Parastoo.ttf') format('truetype');
    font-weight: normal;
  }
  
  @font-face {
    font-family: Parastoo;
    src: url('../fonts/Parastoo-Bold.eot');
    src: url('../fonts/Parastoo-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Parastoo-Bold.woff') format('woff'),
         url('../fonts/Parastoo-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Nazli;
    /*src: url('../fonts/Parastoo.eot');*/
    src: /*url('../fonts/Parastoo.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Parastoo.woff') format('woff'),*/
         url('../fonts/nazli/nazli.ttf') format('truetype');
    font-weight: normal;
  }
  
  @font-face {
    font-family: Nazli;
    /*src: url('../fonts/Parastoo-Bold.eot');*/
    src: /*url('../fonts/Parastoo-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Parastoo-Bold.woff') format('woff'),*/
         url('../fonts/nazli/nazlib.ttf') format('truetype');
    font-weight: bold;
}

body{
    direction:rtl;
    margin: 0;
    padding: 0;
    font-family: Nazli;
}

.top-bar{
    display:none;
    min-height:36px;
    background-color: black;
}

.user-info{
    color:white;
    float: left;
    border: beige;
    border-style: solid;
    border-width:1px;
    background-color: #a77b00;
    padding: 1px 5px 1px 5px;
    margin: 5px 10px 5px 32px;
    width: 100px;
    text-align:center;
}

.header{
    min-height:120px;
    background-color:red;
    text-align: right;
}

.banner{
    background-color:green;
    /* margin-left: 30px; */
    /* margin-right: 30px; */
    font-size:40px;
    padding-bottom: 5px;
}

.top-menu{
    /* margin: 0px 30px 0px 30px; */
    background-color: #4caf50;
    min-height: 39px;
    padding: 5px 30px 5px 30px;
}

.content{
  margin-left:30px;
  margin-right:30px;
}

.site-title{
    margin-right:30px;
    /* margin-bottom:10px; */
    /* margin: 0px 30px 10px 0px; */
    font-size:40px;
    color: white;
}

.site-subtitle{
    margin-right:30px;
    font-size: 13px;
    color: white;
}

.quick-menu-button{
    min-height: 22px;
    min-width: 22px;
    background-color: #a77b00;
    margin: 10px 0px 0px 20px;
    float:right;
    padding: 5px 5px 5px 5px;
    /* font-size: 24px; */
    /* text-align: center; */
    /* font-weight: bold; */
    /* border-radius: 5px; */
    color: white;
    background-image: url('../images/menu-icon.png');
    background-repeat: no-repeat;
}

.quick-menu{
    height: 300px;
    width: 200px;
    background-color: #f2f2f2;
    position: absolute;
    top: 133px;
    right: 0px;
}

/* Dropdown Button */
.dropbtn {
    /* background-color: #3498DB; */
    color: white;
    /* padding: 16px; */
    /* font-size: 16px; */
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    /* display: inline-block; */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #aa762e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 42px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.bread-crumb{
    margin: 12px 30px 12px 0px;
    /* background-color:bisque; */
    padding: 0px 5px 5px 5px;
}

.bread-crumb-node{
    background-color: #ffbf09;
    padding: 5px 10px 5px 5px;
    border-radius:10px;
    text-align:center;
    min-width: 100px;
}
.bread-crumb-separator{
    margin: 0px 10px 0 10px;
    font-weight: bold;
}

.menu-maker{
    width: 25px;
    height: 5px;
    background-color: black;
    margin: 6px 3px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 5px 30px 5px 5px;
    width: 100%;
    text-align: right;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 10 18px;
    background-color: #E91E63;
    display: none;
    overflow: hidden;
}

.operations{
    padding: 10px 18px;
}

.data-table {
    /* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
    border-collapse: collapse;
    width: 100%;
}

.data-table td, .data-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.data-table tr:nth-child(even){background-color: #f2f2f2;}

.data-table tr:hover {background-color: #ddd;}

.data-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: right;
    background-color: #4caf50;
    color: white;
}