body{
    direction:rtl;
    margin: 0;
    padding: 0;
}

.top-bar{
    display:none;
    min-height:36px;
    background-color: black;
}

.user-info{
    color:white;
    float: left;
    border: beige;
    border-style: solid;
    border-width:1px;
    background-color:gray;
    padding: 1px 5px 1px 5px;
    margin: 5px 10px 5px 10px;
    width: 100px;
    text-align:center;
}

.header{
    min-height:120px;
    background-color:red;
    text-align: right;
}

.banner{
    background-color:green;
    margin-left: 30px;
    font-size:;
}

.site-title{
    margin-right:30px;
    margin-bottom:10px;
    margin 15px 30px 10px 0px;
    font-size:40px;
}

.site-subtitle{
    margin-right:30px;
    font-size: 13px;
}

.quick-menu{
    min-height:30px;
    width:30px;
    background-color:blue;
    margin:5px 30px 5px 20px;
    float:right;
}

.bread-crumb{
    margin:12px 30px 0px 0px;
    /* background-color:bisque; */
    padding: 0px 5px 5px 5px;
}

.bread-crumb-node{
    background-color:gray;
    padding: 5px 10px 5px 5px;
    border-radius:10px;
    text-align:center;
    min-width: 100px; 
}
.bread-crumb-separator{
    margin: 0px 10px 0 10px;
    font-weight: bold;
}
